


<form class="voting">
    <p>Оцените наш Блог</p>
    <div class="voting-radio">
        <div>
            <input type="radio" id="perfect"
                   name="voting" value="perfect">
            <label for="perfect">Отлично</label>
        </div>
    <div>
        <input type="radio" id="good"
               name="voting" value="good">
    <label for="good">Норм</label>
    </div>
    <div>
        <input type="radio" id="bad"
               name="voting" value="bad">
        <label for="bad">Днище</label>
    </div>
    </div>
    <div>
        <button class="button" type="submit">Проголосовать</button>
    </div>
</form>